.footer {
  position: fixed;
  bottom: 0;

  &__content {
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;

    .action {
      margin: 3rem;

      &--icon {
        font-size: 3rem;
        padding: 2rem;
        color: get-color(secondary);
        transition:  all 2s cubic-bezier(0.165, 0.84, 0.44, 1);

        @include styled-link-hovered;


        @media (max-width: $mqMaxWidth) {
          font-size: get-size(sm);
        }
      }
    }
  }

}

