{
  "extends": ["stylelint-config-recommended-scss"],
  "rules": {
    "selector-class-pattern": "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
    "font-family-no-duplicate-names": true,
    "function-calc-no-unspaced-operator": true,
    "property-no-unknown": true,
    "string-no-newline": true,
    "block-no-empty": true,
    "comment-no-empty": true,
    "selector-max-id": 3,
    "max-nesting-depth": 4
  }
}
