
@import 'about';
@import 'qualifications';
@import 'work';
@import 'contact';

.about, .qualifications, .work, .contact {
  width: 100vw;
  height: 100vh;

  @media (max-width: '800px') {
    height: 100%;
  }


  &__content {
    width: 100%;
    height: 100%;
  }

  .year {
    font-weight: bold;
    font-style: italic;
  }
}





