.work {

  @media (max-width: $mqMaxWidth) {
    height: 150vh;
  }

  &__content {
    background-color: get-color(quaternary);
    padding-top: 12rem;
    position: relative;

    @media (max-width: $mqMaxWidth) {
      padding-top: 6rem;
    }

    &__list {
      position: absolute;
      top: 50%;
      left: 5%;
      width: 50rem;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      @media (max-width: $mqMaxWidth) {
        position: relative;
        top:0;
        left:0;
        transform: none;
      }

      @include styled-list-items;
    }
  }
}
