<aside class="card card--about">
    <div class="card__content">
        <picture>
            <source srcset="./assets/images/about.webp?width=350" type="image/webp" />
            <img src="./assets/images/about.webp?width=350" alt="About me Section" class="about-me-img" />
        </picture>
        <div class="text">
            <h1>About me <i class="fa-solid fa-user-ninja"></i></h1>
            <br>
            <p>I like art, computers, watch weird movies and lose myself into code while learning new things, like blockchain, modern app development & software theory.</p>
        </div>
    </div>
</aside>
