<aside class="card card--qualifications">
    <div class="card__content">
        <picture>
            <source srcset="./assets/images/qualifications.jpeg?width=350" type="image/webp" />
            <img src="./assets/images/qualifications.jpeg?width=350" alt="Qualifications section" class="about-me-img" />
        </picture>
        <div class="text">
            <h1>Qualifications <i class="fa-solid fa-building-columns"></i></h1>
            <br>
            <p>my academic background is a bit of an outlier, although I like to think that the humanities are a great complement to computer science and the modern dilemmas it poses.</p>
        </div>
    </div>
</aside>
