<aside class="card card--work">
    <div class="card__content">
        <picture>
            <source srcset="./assets/images/work.webp?width=350" type="image/webp" />
            <img src="./assets/images/work.webp?width=350" alt="Work Section" class="about-me-img" />
        </picture>
        <div class="text">
            <h1>Proof of Work <i class="fa-solid fa-briefcase"></i></h1>
            <br>
            <p>With some experience in the 'business of culture' world, I've been working on start-ups and
                tech companies since 2020.
            </p>
        </div>
    </div>
</aside>
